<?xml version="1.0" encoding="UTF-8"?>
<module id="182697" version="2019052000">
  <modulename>resource</modulename>
  <sectionid>41669</sectionid>
  <sectionnumber>6</sectionnumber>
  <idnumber></idnumber>
  <added>1634261393</added>
  <score>0</score>
  <indent>0</indent>
  <visible>1</visible>
  <visibleoncoursepage>1</visibleoncoursepage>
  <visibleold>1</visibleold>
  <groupmode>0</groupmode>
  <groupingid>0</groupingid>
  <completion>1</completion>
  <completiongradeitemnumber>$@NULL@$</completiongradeitemnumber>
  <completionview>0</completionview>
  <completionexpected>0</completionexpected>
  <availability>{"op":"&amp;","c":[{"type":"date","d":"&gt;=","t":1634871300}],"showc":[true]}</availability>
  <showdescription>0</showdescription>
  <tags>
  </tags>
</module>