<?xml version="1.0" encoding="UTF-8"?>
<module id="133852" version="2019052000">
  <modulename>label</modulename>
  <sectionid>41672</sectionid>
  <sectionnumber>9</sectionnumber>
  <idnumber></idnumber>
  <added>1620052589</added>
  <score>0</score>
  <indent>0</indent>
  <visible>1</visible>
  <visibleoncoursepage>1</visibleoncoursepage>
  <visibleold>1</visibleold>
  <groupmode>0</groupmode>
  <groupingid>0</groupingid>
  <completion>1</completion>
  <completiongradeitemnumber>$@NULL@$</completiongradeitemnumber>
  <completionview>0</completionview>
  <completionexpected>0</completionexpected>
  <availability>$@NULL@$</availability>
  <showdescription>1</showdescription>
  <tags>
  </tags>
</module>